samples/DATEXII_3_Profile/DATEXII_3_ExchangeInformation.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:ex="http://datex2.eu/schema/3/exchangeInformation" version="1" targetNamespace="http://datex2.eu/schema/3/exchangeInformation" xmlns:com="http://datex2.eu/schema/3/common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://datex2.eu/schema/3/common" schemaLocation="DATEXII_3_Common.xsd" />
  <xs:complexType name="_ExchangeReturnEnum">
    <xs:simpleContent>
      <xs:extension base="ex:ExchangeReturnEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_ExchangeStatusEnum">
    <xs:simpleContent>
      <xs:extension base="ex:ExchangeStatusEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_InvalidityReasonEnum">
    <xs:simpleContent>
      <xs:extension base="ex:InvalidityReasonEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_MessageTypeEnum">
    <xs:simpleContent>
      <xs:extension base="ex:MessageTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_OperatingModeEnum">
    <xs:simpleContent>
      <xs:extension base="ex:OperatingModeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_ProtocolTypeEnum">
    <xs:simpleContent>
      <xs:extension base="ex:ProtocolTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_UpdateMethodEnum">
    <xs:simpleContent>
      <xs:extension base="ex:UpdateMethodEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Agent">
    <xs:annotation>
      <xs:documentation>an actor in the exchange context</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="address" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>the network address of the exchange agent </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>name of the agent in the exchange context</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="referenceID" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>a reference for the agent in the exchange context</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="serviceURL" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>the URL to address the agent service</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="internationalIdentifier" type="com:InternationalIdentifier" minOccurs="0" />
      <xs:element name="_agentExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DynamicInformation">
    <xs:annotation>
      <xs:documentation>Dynamic Exchange Information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="exchangeStatus" type="ex:_ExchangeStatusEnum" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Status of Exchange defined by protocol Specification</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="exchangeStatusDescription" type="com:MultilingualString" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>multilingual textual Status description of Exchange defined by protocol Specification</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="completedPaylod" type="com:Boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>attribute which can be used to indicate when a payload had been completed or not within the current message, when set to false the following messages will deliver and complete all the payload content relative ot the current exchange or current session</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="messageSequencingNumber" type="com:NonNegativeInteger" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>a number, always increasing within a same session among a client and supplier, which can be used to order message within a delivery</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="messageGenerationTimestamp" type="com:DateTime" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>the date time in which the message had been generated</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="returnInformation" type="ex:ReturnInformation" minOccurs="0" />
      <xs:element name="sessionInformation" type="ex:SessionInformation" minOccurs="0" />
      <xs:element name="_dynamicInformationExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExchangeContext">
    <xs:annotation>
      <xs:documentation>Exchange Context e.g. which defines the specific Exchange Pattern and Functional Exchange Profile and other details about Supplier &amp; client</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="codedExchangeProtocol" type="ex:_ProtocolTypeEnum" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>the exchange protocol type as referenced by any standard or by agreement among client and supplier, e.g. Snapshot Pull, Simple Push, Collaborative ITS Services, etc</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="exchangeSpecificationVersion" type="com:String" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>the version of the protocol used for the exchange as by standard or as agreed among client and supplier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="operatingMode" type="ex:_OperatingModeEnum" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>feature which specifies when the information should be delivered</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="updateMethod" type="ex:_UpdateMethodEnum" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>exchange feature used in the protocol which specifies the rules to generate the information payload exchanged</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nonCodedExchangeProtocol" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>when a protocol is used in the exchange which is not predefined coded protocol, this attribute defines protocol information among supplier and client</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="supplierOrCisRequester" type="ex:Agent">
        <xs:annotation>
          <xs:documentation>it defines the supplier or CIS requester information of the exchange context</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="clientOrCisProvider" type="ex:Agent" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>it defines the client or CIS provider information of the exchange context, depending on Exchange Pattern it may be instantiated for single or multiple client or no one</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="subscription" type="ex:Subscription" minOccurs="0" />
      <xs:element name="_exchangeContextExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExchangeInformation">
    <xs:annotation>
      <xs:documentation>Exchange Information </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="messageType" type="ex:_MessageTypeEnum" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>the message type which is used in specific exchange pattern to define the use of exchanged message, e,g, payload delivery, open session, keep alive, cis service request and feedback etc.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="exchangeContext" type="ex:ExchangeContext" />
      <xs:element name="dynamicInformation" type="ex:DynamicInformation" />
      <xs:element name="_exchangeInformationExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="modelBaseVersion" type="xs:string" use="required" fixed="3" />
    <xs:attribute name="extensionName" type="xs:string" use="optional" default="Exchange 2018" />
    <xs:attribute name="extensionVersion" type="xs:string" use="optional" default="1" />
    <xs:attribute name="profileName" type="xs:string" use="optional" />
    <xs:attribute name="profileVersion" type="xs:string" use="optional" />
  </xs:complexType>
  <xs:simpleType name="ExchangeReturnEnum">
    <xs:annotation>
      <xs:documentation>Enumeration that identifies the return status</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="ack">
        <xs:annotation>
          <xs:documentation>request fulfilled</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="closeSessionRequest">
        <xs:annotation>
          <xs:documentation>client request to close session</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fail">
        <xs:annotation>
          <xs:documentation>request failed</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="snapshotSynchronisationRequest">
        <xs:annotation>
          <xs:documentation>client request for snapshot synchronisation</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExchangeStatusEnum">
    <xs:annotation>
      <xs:documentation>Enumeration that identifies the status of exchange session</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="closingSession">
        <xs:annotation>
          <xs:documentation>the closure of Session is under negotiation for protocol with Session management</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="offline">
        <xs:annotation>
          <xs:documentation>no exchange is possible due to lack of connectivity</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="online">
        <xs:annotation>
          <xs:documentation>exchange connection is regular with no errors detected</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="openingSession">
        <xs:annotation>
          <xs:documentation>Session Opening for protocols with Session management</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="resuming">
        <xs:annotation>
          <xs:documentation>some errors had happened and Session is resuming for protocol with Session Management</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="undefined">
        <xs:annotation>
          <xs:documentation>the exchange status is not defined in the exchange implementation</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="InvalidityReasonEnum">
    <xs:annotation>
      <xs:documentation>a list of possible invalidity reason for messages</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="invalidCISInformation">
        <xs:annotation>
          <xs:documentation>CIS Information provided in the message is not valid due to some reason</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="invalidExchangeContext">
        <xs:annotation>
          <xs:documentation>exchange context information are not valid due to some reason</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="invalidInformationManagement">
        <xs:annotation>
          <xs:documentation>exchange information management provided in message are not valid due to some reason</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="invalidMessage">
        <xs:annotation>
          <xs:documentation>the message is invalid due to some reason</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="invalidPayload">
        <xs:annotation>
          <xs:documentation>the payload content provided in the message is not valid due to some reason</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="invalidSequencingNumber">
        <xs:annotation>
          <xs:documentation>the sequenceing number proided int the message is not valid due to some reason</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="invalidSession">
        <xs:annotation>
          <xs:documentation>the session ID provided in the message is not valid</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>the message is not valid due to other unspecified condition</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="invalidClient">
        <xs:annotation>
          <xs:documentation>the client in the exchange is not valid due to some reason</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="invalidSupplier">
        <xs:annotation>
          <xs:documentation>the supplier specified in the exchange is not valid due to some reason</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MessageTypeEnum">
    <xs:annotation>
      <xs:documentation>e list of message type which can be implemented to define specifice exchange pattern features</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="payloadDelivery">
        <xs:annotation>
          <xs:documentation>message conveying payload delivery</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="openSession">
        <xs:annotation>
          <xs:documentation>message conveying open session request</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="keepAlive">
        <xs:annotation>
          <xs:documentation>message conveying keep alive message</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="closeSession">
        <xs:annotation>
          <xs:documentation>message conveying close session request</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="return">
        <xs:annotation>
          <xs:documentation>message conveying return information</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CISServiceRequest">
        <xs:annotation>
          <xs:documentation>message conveying CIS Service request</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CISFeedback">
        <xs:annotation>
          <xs:documentation>message conveying CIS feedback message</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OperatingModeEnum">
    <xs:annotation>
      <xs:documentation>the enumeration of the possible operating mode which can be adopted in the exchange</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="conditionTriggered">
        <xs:annotation>
          <xs:documentation>the information update is sent when a specific application level condition is found</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="onOccurrence">
        <xs:annotation>
          <xs:documentation>the delivey of information happens as soon as the information is updated on the supplier system</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>other condition when supplier delivers information or client pull temporal condition</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="periodic">
        <xs:annotation>
          <xs:documentation>the infomation is provided by the supplier or pulled for by the client on specific timing or cyclic timeout</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ProtocolTypeEnum">
    <xs:annotation>
      <xs:documentation>a list of protocol type as possible exchange specification available</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="deltaPull">
        <xs:annotation>
          <xs:documentation>in a pull delivery the information gathered is all updated information after last delivery</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="deltaPush">
        <xs:annotation>
          <xs:documentation>in a push delivery all updated information after last delivery is provided as payload</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="simpleCIS">
        <xs:annotation>
          <xs:documentation>collaborative ITSService service request and feedback are implemented without link monitoring and session management</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="simplePush">
        <xs:annotation>
          <xs:documentation>a snapshot or delta Push delivery context with link monitoring but without session management</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="snapshotPull">
        <xs:annotation>
          <xs:documentation>all activ information avaliable by the supplier is retrived by the client in a pull operation</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="snapshotPush">
        <xs:annotation>
          <xs:documentation>all active information available is delivered by the supplier in a pull operation</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="statefulCIS">
        <xs:annotation>
          <xs:documentation>collaborative ITS Service Request and Feedback with session management and link monitoring</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="statefulPush">
        <xs:annotation>
          <xs:documentation>a Push delivery context with link monitoring but without session management</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>other protocol type</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ReturnInformation">
    <xs:annotation>
      <xs:documentation>the information provided as rerturn after a message had been delivered</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="returnStatus" type="ex:_ExchangeReturnEnum" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>the return status of a message previously delivered</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="returnStatusReason" type="com:MultilingualString" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>the reason for the setting of the return status</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="codedInvalidityReason" type="ex:_InvalidityReasonEnum" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>it specifies the invalid information which had been found in a message by the receiver</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_returnInformationExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SessionInformation">
    <xs:annotation>
      <xs:documentation>Session Information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sessionID" type="com:String" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>the ID of Sessione established among Client and Supplier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="startSession" type="com:DateTime" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>the start date and time of the session</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_sessionInformationExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Subscription">
    <xs:annotation>
      <xs:documentation>a subscription among a supplier and its client  or among service providers and service requester in the collaborative ITS services franework</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>the descriptive name of the subscription</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="referenceID" type="com:Reference" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>a reference idenfitication for the subscription for the exchange</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="subscriptionStart" type="com:DateTime" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>it defines the date and time when the subscription is to be consiidered active</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="subscriptionEnd" type="com:DateTime" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>it defines the date and time when the subscription is to be considered ended</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="deliveyFrequency" type="com:NonNegativeInteger" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>the planned time payload delivery frequence as number in seconds, it includes "keep alive" messages delivey when not payload is to be delivered</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="validity" type="com:Validity" minOccurs="0" />
      <xs:element name="_subscriptionExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="UpdateMethodEnum">
    <xs:annotation>
      <xs:documentation>the list of the possible operating method which are managed for exchange</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="allElementUpdate">
        <xs:annotation>
          <xs:documentation>for situation delivered the information of all situation elements is updated in a single delivery</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="allInformationUpdate">
        <xs:annotation>
          <xs:documentation>the payload delivers all elements which have some information updated since the last delivery, can be named "delta" update</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>othe update method available implemented by the supplier</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="singleElementUpdate">
        <xs:annotation>
          <xs:documentation>any single element update is delivered</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="snapshot">
        <xs:annotation>
          <xs:documentation>all active and/or available information is delivered</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>