tests/samples/test_simple_types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <!-- Enumeration with documentation on one value -->
    <xs:simpleType name="ColorEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Red">
                <xs:annotation>
                    <xs:documentation>The color red, like fire.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Green"/>
            <xs:enumeration value="Blue"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Restriction with minInclusive/maxInclusive facets -->
    <xs:simpleType name="StatusCode">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="100"/>
            <xs:maxInclusive value="599"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Union of two types -->
    <xs:simpleType name="MixedUnion">
        <xs:union memberTypes="xs:date xs:dateTime"/>
    </xs:simpleType>

    <!-- List type -->
    <xs:simpleType name="TokenList">
        <xs:list itemType="xs:token"/>
    </xs:simpleType>

    <!-- Pattern facet -->
    <xs:simpleType name="SizeType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[SML]|X{1,3}L"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
